div.tab, div.cont {
	border: 1px solid black;
	padding: 5px;
}

#btnDiv button {
	display: inline-block;
	width: 20%;
	margin: 5px;
}

#btnDiv, .tab, .imgDiv {
	text-align: center;
}	

.container {
	margin-top: 20px;
}

#content {
	width: 100%;
	height: 300px;
	border: none;
	resize: none;
}

textarea {
	outline: none;
}

.img-thumbnail {
	width: 200px;
	height: 200px;
}

/* bootstrap row,col로 테이블 형태를 만들 때 row-col-row-col 순으로 써야 한다. */
.cmtList {
	border: 1px black solid;
	margin: 5px;
	padding: 10px;
}

#cmtId {
	margin-right: 10px;
}

.cmtIdDiv {
	margin-bottom: 10px;	
}

#cmtForm {
	margin-top: 10px;
}

#cmtContent {
	margin-top: 10px;
	width: 90%;
	height: 100px;
	resize: none;
}
.delCmtBtn {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

#commentDiv {
	margin: 30px 0px 30px 0px;
}