<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
<mapper namespace="passwordResetMapper">

	<!-- 유저 정보 가져오기 -->
	<select id="getUserInfo" parameterType="String" resultType="PasswordResetDto">
		SELECT id, email FROM t_password_reset WHERE expired = 'n' AND url LIKE CONCAT('%', #{link})
	</select>
	
	<!-- 비밀번호 초기화 URL 저장 -->
	<insert id="addInfo" parameterType="map">
		INSERT INTO t_password_reset(url, id, email, regdate) VALUES(#{url}, #{id}, #{email}, sysdate())
	</insert>
	
	<!-- 비밀번호 변경한 URL 폐기 -->
	<update id="expiredURL" parameterType="String">
		UPDATE t_password_reset SET expired = 'y' WHERE url LIKE CONCAT('%', #{url})
	</update>
	
	<!-- 동일 id의 URL이 있는 경우 폐기 처리 -->
	<update id="expiredUrlById" parameterType="String">
		UPDATE t_password_reset SET expired = 'y' WHERE id = #{id}
	</update>
</mapper>